<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hypergraphmodel -->
      <package
            uri="http://haizu.hu/hypergraphmodel"
            class="hu.haizu.cogni.hypergraph.model.basicbuild.HypergraphmodelPackage"
            genModel="model/hypergraphmodel.genmodel"/>
   </extension>

</plugin>
